body {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    background: #a3a3a3;
    background: linear-gradient(59deg, rgba(163, 163, 163, 1) 0%, rgba(38, 38, 38, 0.94) 99%, rgba(16, 18, 17, 1) 100%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    height: 650px;
}

h1 {
    text-align: center;
    padding-top: 150px;
    font-size: 80px;
    margin: 0;
    color: #f5f5f5;
}


.bitter-1 {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.bitter-2  {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    color: #f5f5f5;
}

p {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

.about p {
    font-size: 25px;
    font-weight: 100;
    width: 600px;
    text-align: center;
}

.about {
    padding-top: 80px;
    text-align: center;
}

.photo {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.title {
    padding-top: 0px;
    color: rgb(66, 66, 66)
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 30px;
}

.item-1 {
    background-color: red;
    grid-area: 1/1/2/2;
    display: grid;
    align-items: center;
    justify-content: center;
}

.item-2 {
    grid-area: 2/1/3/2;
    display: grid;
    align-items: center;
    justify-content: center;
}

.item-3 {
    grid-area: 3/1/4/2;
    display: grid;
    align-items: center;
    justify-content: center;
}

.item-4 {
    grid-area: 1/2/2/4;
    display: grid;
    align-items: center;
    justify-content: center;
}

.item-5 {
    grid-area: 2/2/3/4;
    display: grid;
    align-items: center;
    justify-content: center;
}


.item-6 {
    grid-area: 3/2/4/4;
    display: grid;
    align-items: center;
    justify-content: center;
}

.contact {
    text-align: center;
}

.btn {
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c4c4c4;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footer {
    background-color: rgb(173, 173, 173);
    margin-top: 100px;
    height: 200px;
    width: 100%;
    text-align: center;
}

.footer-container {
    margin: 50px;
}

a {
    color: #000000;
}